@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:root {
  --text: #fff;
  --text-second: #bbb;
  --back: #000;
  --link: #366edd;
  --first: #e00000;
  --warning: #ffaa00;
  --error: #ff0000;
}

html, body {
  margin: 20px 5vw;
  padding: 0;
}

body {
  color: var(--text);
  background-color: var(--back);
}

a {
  color: var(--link);
  text-decoration: none;
}

input,
textarea,
.md-editor {
  font-family: var(--font-roboto-mono);
  background-color: var(--back);
  color: var(--text);
  border: 3px solid var(--text);
  min-height: 10px;
  padding: 5px;
}

textarea,
.md-editor {
  resize: none;
  max-width: 400px;
}

input[type="checkbox"] {
  margin: 0 0 -3px 0;
  width: 20px;
  height: 20px;
  border-radius: 0px;
  border: 3px solid var(--text);
  background-color: var(--back);
  appearance: none;

  &:checked {
    background-color: var(--first);
  }
}


button {
  font-family: var(--font-roboto-mono);
  background-color: var(--back);
  color: var(--text);
  border: 3px solid var(--text);
  min-height: 10px;
  padding: 5px;

  &:hover:not(:disabled) {
    background-color: var(--text);
    color: var(--back);
  }

  &:disabled {
    color: var(--text-second);
    border: 3px solid var(--text-second);
  }
}
